:root {
    --bkgd-nav: #222222;
    --bkgd-articles: #33333355;
    --text-underline: ;
    --hover-shadow: ;
    --h2-color-top: #fb9c9c;
    --h2-color-bottom: #a047ff;
}

* {
    margin: 0;
    padding: 0;
}

body > * {
    /* outline: 1px solid blue; */
}

header *, nav *, main *, footer * {
    /* background-color: #00FF0055; */
    /* outline: 1px solid #00FF00; */
}    

body {
    position: relative;
    background-color: #000000;
    color: #E8E8E8;
    font-family: "Georgia", serif;
}

#page-contents { /* I'm not putting these styles on the body element, because there's a #background div that needs to cover the whole viewport.  */
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    min-height: 100vh;  /* I want the footer to be no higher up than the bottom of the page, so I'm making its container's height 100% of the viewport */
    /* outline: 1px solid red; */
}

header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

header img {
    width: min(100%, 60rem);
    height: auto;
}

nav {
    background-color: var(--bkgd-nav);
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
}

main {
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

article {
    padding: 1rem;
    background-color: var(--bkgd-articles);
}

h2 {
    color: transparent;
    background: linear-gradient(
        var(--h2-color-top), 
        var(--h2-color-bottom)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px #000000);
}

#featured {
    grid-column: 1 / span 3;
}

.sub-featured {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sub-featured img {
    width: 9rem;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-end;
    background-color: var(--bkgd-articles);
}

footer > div {
    text-align: center; 
    width: 45vw; 
        /* I want both columns to have roughly equal width, so that when they're centered, they look balanced */
        /* by using relative units, the two columns will always be spaced out to fill the available space */
    padding: 1rem;
}

footer img {
    height: 3rem;
    width: auto;
}

@media screen and (max-width: 699px) {
    nav {
        font-size: 0.8em; /* using "em" units because I want the size to be updated relative to its own initial size, instead of relative to the root element */
    }
    main {
        grid-template-rows: 2fr 1fr 1fr 1fr;
        grid-template-columns: 1;
    }
    #featured, .sub-featured {
        grid-column: unset;
    }
    .sub-featured p {
        max-width: 20rem;
    }
    footer {
        flex-direction: column;
    }
}

#background {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: 
        radial-gradient(
            transparent 10%,
            #000000CC
        ),
        repeating-linear-gradient(
            100deg,
            #000000 10px,
            #111115 11px,
            #111115 13px,
            #000000 14px,
            #000000 20px   
        )
    ;
}