* {
    margin: 0;
    padding: 0;
}

body > * {
    outline: 1px solid blue;
}

header *, nav *, main *, footer * {
    background-color: #00FF0055;
    outline: 1px solid #00FF00;
}    

body {
    background-color: #000000;
    color: #E8E8E8;
    font-family: "Georgia", serif;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    min-height: 100vh;
    outline: 1px solid red;
}

header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

header img {
    width: min(100%, 60rem);
    height: auto;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
}

main {
    display: grid;
    gap: 2rem;
    grid-template-rows: 2;
    grid-template-columns: 3;
    min-height: 50vh;
}

article {
    padding: 1rem;
}

#featured {
    grid-column: 1 / span 3;
    min-height: 20vh;
}

.sub-featured {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sub-featured img {
    height: 5rem;
    width: auto;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-end;
}

footer > div {
    text-align: center; 
    width: 45vw;
    padding: 1rem;
}

footer img {
    height: 3rem;
    width: auto;
}

@media screen and (max-width: 699px) {
    main {
        grid-template-rows: 2fr 1fr 1fr 1fr;
        grid-template-columns: 1;
    }
    #featured, .sub-featured {
        grid-column: unset;
    }
    .sub-featured p {
        max-width: 20rem;
    }
    footer {
        flex-direction: column;
        position: static;
    }
}