


/*  Use a sans-serif font for <p> elements  */






:root {
    --bkgd-nav: #222222;
    --bkgd-articles: #181818BB;
    --bkgd-footer: #22222255;
    --h2-color-top: #ffffff;
    --h2-color-bottom: #daa520;
    --highlight: #daa520;
    --links: #e6bd56;
    --contrast-high: #000000;
    --contrast: hsl(34, 100%, 4%);
    --light-bkgd: #FFFFFF55;
    --pinstripes: #060505;
    --vignette: #00000088;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: var(--contrast);
    color: #E8E8E8;
    font-family: "Georgia", serif;
}

#page-contents { /* I'm not putting these styles on the body element, because there's a #background div that needs to cover the whole viewport.  */
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    min-height: 100vh;  /* I want the footer to be no higher up than the bottom of the page, so I'm making its container's height 100% of the viewport */
}

a {
    color: var(--links);
}

a:hover {
    background-color: var(--contrast-high);
    color: var(--highlight);
    transition: 0.3s;
}

header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    border-bottom: 1px solid var(--highlight);
}

header img {
    width: min(100%, 60rem);
    height: auto;
}

nav {
    background-color: var(--bkgd-nav);
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
}

li {
    cursor: pointer;
    text-decoration-line:  underline overline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    transition: 0.5s;
}

li:hover {
    text-decoration-line:  underline overline;
    text-decoration-color: var(--highlight);
    text-decoration-thickness: 2px;
    transition: 0.3s;
}

main {
    display: grid;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3;
}

article {
    padding: 1rem;
    background: radial-gradient(
        transparent,
        var(--bkgd-articles)
    );
    transition: box-shadow 0.5s;
}

article, footer {
    outline: 1px solid var(--contrast);
}

article:hover {
    box-shadow: 2px 4px 10px #daa52088, 1px 2px 5px #ffffff88;
    transition: 0.3s;
}

#featured {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / span 3;
    font-size: 1.3em;
        /* I'm using "em" instead of "rem" because I want these sizes relative to the size they would otherwise be, instead of relative to the root element. */
        /* That way I can increase the size of the h1 and p elements at the same time, and in proportion to each other. */
    background-image: url(../img/necklace_quartz_05.jpg);
    background-size: cover;
    background-position: bottom;
    color: var(--contrast);
    text-align: right;
    font-weight: bold;
}

h1, #featured p {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--light-bkgd);
}

.sub-featured {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sub-featured p {
    line-height: 1.3em;
    text-align: center;
}

.sub-featured img {
    width: 9rem;
    height: auto;
}

h2 {
    color: transparent;
    background: linear-gradient(
        var(--h2-color-top), 
        var(--h2-color-bottom) 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px var(--contrast));
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: flex-end;
    background-color: var(--bkgd-footer);
}

footer > div {
    text-align: center; 
    width: 45vw; 
        /* I want both columns to have roughly equal width, so that when they're centered, they look balanced */
        /* by using relative units, the two columns will always be spaced out to fill the available space */
    padding: 1rem;
}

footer img {
    height: 3rem;
    width: auto;
}

@media screen and (max-width: 699px) {
    nav {
        font-size: 0.8em; /* using "em" units because I want the size to be updated relative to its own initial size, instead of relative to the root element */
    }
    main {
        grid-template-rows: 3fr 2fr 2fr 2fr;
        grid-template-columns: 1;
    }
    #featured {
        background-image: url(../img/necklace_quartz_05_small.jpg);
        text-align: left;
    }
    #featured, .sub-featured {
        grid-column: unset;
    }
    .sub-featured p {
        max-width: 20rem;
    }
    footer > div {
        width: unset;
    }
}

#background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    background-image: 
        radial-gradient(
            transparent 40%,
            var(--vignette)
        ),
        repeating-linear-gradient(
            100deg,
            var(--contrast) 10px,
            var(--pinstripes) 11px,
            var(--pinstripes) 13px,
            var(--contrast-high) 14px,
            var(--contrast-high) 20px   
        )
    ;
}